<section class="blog-detail mtb-40">
  .<div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="container-fluid">
                  <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="blog-left">
                                    <h1>{{data.Title}}</h1>
                                    <!-- Active: true
                                            Description: "bjjk kj"
                                            Featured: false
                                            Image: "upload/images/Image_1612454442192.png"
                                            Title: "bbkjbk"
                                            categories: "601af1942e494a79512fe636"
                                            created_at: "2021-02-04T15:18:31.321Z"
                                            __v: 0
                                            _id: "601c1a2a8ded600ea1072a71" -->
                                    <div class="posted-on">
                                        <p>by <span>{{data.categories.title}}</span> on <span>{{data.created_at}}</span></p>
                                    </div>
                                    <div class="detail-img">
                                       <img width="100%" src="assets/images/img1.jpg" alt="blog1" />
                                    </div>
                                    <div class="blog-desc">
                                        <p>{{data.Description}}</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-right">
                                    <div class="right-widget recent-post">
                                        <h3>Recent Blogs</h3>
                                        <a href="#">
                                            <div class="rb-box">
                                                <div class="rb-box-img">
                                                    <img src="assets/images/img1.jpg" alt="blog1" />
                                                </div>
                                                <div class="rb-box-desc">
                                                    <h4>Sample blog post 1</h4>
                                                    <p>Posted On: October 22, 2018</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="rb-box">
                                                <div class="rb-box-img">
                                                    <img src="assets/images/img2.jpg" alt="blog1" />
                                                </div>
                                                <div class="rb-box-desc">
                                                    <h4>Sample blog post 2</h4>
                                                    <p>Posted On: October 22, 2018</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="rb-box">
                                                <div class="rb-box-img">
                                                    <img src="assets/images/img3.jpg" alt="blog1" />
                                                </div>
                                                <div class="rb-box-desc">
                                                    <h4>Sample blog post 3</h4>
                                                    <p>Posted On: October 22, 2018</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="rb-box">
                                                <div class="rb-box-img">
                                                    <img src="assets/images/img4.jpg" alt="blog1" />
                                                </div>
                                                <div class="rb-box-desc">
                                                    <h4>Sample blog post 4</h4>
                                                    <p>Posted On: October 22, 2018</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="rb-box">
                                                <div class="rb-box-img">
                                                    <img src="assets/images/img5.jpg" alt="blog1" />
                                                </div>
                                                <div class="rb-box-desc">
                                                    <h4>Sample blog post 5</h4>
                                                    <p>Posted On: October 22, 2018</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                     <!-- <div class="right-widget categories">
                                         <h3>Categories</h3>
                                         <ul>
                                            <li><a href="#">Technology</a></li>
                                            <li><a href="#">Design</a></li>
                                            <li><a href="#">Culture</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Politics</a></li>
                                            <li><a href="#">Opinion</a></li>
                                            <li><a href="#">Science</a></li>
                                            <li><a href="#">Health</a></li>
                                            <li><a href="#">Style</a></li>
                                            <li><a href="#">Travel</a></li>
                                        </ul>
                                     </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
