<section class="cmspage mtb-40">
    <div class="container">
      <div class="page-desc">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1>Contact</h1>
            <form [formGroup]="registerForm" (ngSubmit)="submitMethod()">
            
                <div class="m-4 alert alert-success" *ngIf="form_temp" >
                    <strong>Success!</strong> Indicates a successful or positive action.
                  </div>
              <mat-form-field class="example-full-width">
                <mat-label>username</mat-label>
                <input matInput name="name" formControlName="name"  placeholder="Name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email"  placeholder="E-Mail">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput type="number" name="phone" formControlName="phone"  required class="form-control" placeholder="Phone">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Textarea</mat-label>
              <textarea matInput name="messsage" rows="5" class="form-control" required formControlName="messsage" placeholder="Message">
              </textarea>
              </mat-form-field>
              <div class="form-group">
                <button class="btn btn-success" >Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>