<div class="dash-right">
    <div class="dash-header">
      <div class="dash-title">
          <h1>Create categories</h1>
      </div>
    </div>
    <div class="blog-form">
      <form [formGroup]="categoriesForm" class="example-form" (ngSubmit)="onSubmit()" >
        <div class="alert alert-success" *ngIf="form_temp" >
            <strong>{{messsage}}.! </strong> 
          </div>
              <mat-form-field class="example-full-width">
                <mat-label>categories </mat-label>
                <input type="text" formControlName="title" matInput  name="title"  placeholder="Add your categories"  autocomplete="nope">
              </mat-form-field>
              <mat-hint>{{temp}}</mat-hint> 
              <button mat-raised-button color="accent" type="submit">
                <mat-icon>done</mat-icon>
              </button>
         
      </form>
    </div>
</div>  