<div class="dash-right">
    <div class="dash-header">
      <div class="dash-title">
          <h1>Categories </h1>
          
      </div>
    </div>
    <div class="blog-form">
       
      <form class="example-form" #categories='ngForm' class="example-form" (ngSubmit)="onSubmit(categories.value)" >
        <div class="alert alert-success" *ngIf="update_form" >
            <strong>successful update </strong> {{model.title}}.
          </div>
                   
            <div >
              
              <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="value" matInput name="title"  placeholder="Title">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint color="warn">{{error}}</mat-hint>
              </mat-form-field>
              
            
            </div>
        
     
        <div class="form-group form-row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
              <button type="submit" color="primary"  mat-raised-button style="margin-right: 2rem;">
                <mat-icon>done</mat-icon>
              </button>  
              <!-- <button   class="btn btn-danger">delete</button> -->
              <button (click)="clickEventHandler()" mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            
        </div>
      </form>
    </div>
</div>  