<div class="dash-right">
    <div class="dash-header">
        <div class="dash-title">
            
            <h1>categories</h1>
        </div>
        <div class="dash-nav">
            <a routerLink="/admin-panel/add-categories" class="btn btn-success">Add categories</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
   
            
            <th>Title</th>
       
        </tr>
        <tr *ngFor="let item of data" >
        
            <td><a [routerLink]="['/admin-panel/categories',item._id]" >{{item.title}}</a></td>
 
         </tr>
    </table>
</div>   
