<div class="dash-right">
    <div class="dash-header">
        <div class="dash-title">
            
            <h1>categories</h1>
        </div>
        <div class="dash-nav">
            <a routerLink="/admin-panel/add-categories" class="btn btn-success">Add categories</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <!-- <th>#ID</th> -->
            
            <th>Title</th>
           
            <!-- <th>Action</th> -->
        </tr>
        <tr *ngFor="let item of data" >
            <!-- <td>{{item._id}}</td> -->
            <td><a [routerLink]="['/admin-panel/categories',item._id]" >{{item.title}}</a></td>
            <!-- <td>
                <a href="#" class="btn btn-info btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td> -->
         </tr>
    </table>
</div>   
